*{
    padding: 0%;
    margin: 0%;
}

body{
    background: rgb(121, 121, 238);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

section{
    background: white;
    border-radius: 10px; /*arredondado*/
    padding: 15px;
    width: 500px;
    margin: auto; /*centralizar*/
    box-shadow: 5px 5px 10px rgb(32, 32, 32);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding: 10px;
    margin-top: 30px;
}

#quadrado{
    padding: 10px;
    font-size: 12px;
}